call plug#begin('~/.vim/plugged')
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'
Plug 'maralla/completor.vim'
Plug 'rhaiscript/vim-rhai'
Plug 'imsnif/kdl.vim'
call plug#end()

let g:python3_host_prog='/usr/bin/python3'
let g:completor_clang_binary = '/bin/clang'
let g:completor_clang_disable_placeholders = 1
let g:completor_racer_binary = '/home/cass/.cargo/bin/racer'

" airline stuff "

let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1
let g:airline_theme = 'laederon'
let g:airline#extensions#whitespace#mixed_indent_algo = 1
let g:airline#extensions#syntastic#enabled = 1

function! g:AirlineThemePatch(palette)
    if g:airline_theme == 'laederon'
      let a:palette.normal_modified = { 'airline_a' : [ '#ffffff' , '#777470' , 255 , 240 , '' ] }
      let a:palette.insert_modified = { }
    endif
endfunction

let g:airline_theme_patch_func = 'AirlineThemePatch'

let g:airline_section_b = '%{getcwd()}'
"let g:airline_section_c = '%t' "


set number
set relativenumber
set title
set hidden

set mouse=a
set tabstop=8
set shiftwidth=8
set noexpandtab
"set tabstop=2 set shiftwidth=2 "
set smartindent
set nopaste
syntax on
set nowrap
set whichwrap+=<,>,h,l,[,]
set pastetoggle=<F2>
set laststatus=2
set ignorecase
set infercase
set timeoutlen=500
set showcmd
set t_Co=256

nnoremap <Tab> :bnext<CR>
nnoremap <S-Tab> :bprevious<CR>

" nvim term settings "
set splitbelow
set splitright

colorscheme monokai
hi Normal ctermbg=none guibg=none
hi LineNr ctermbg=none
hi NonText ctermbg=none guibg=none

let t:is_transparent = 0
function! Toggle_transparent_background()
  if t:is_transparent == 0                   
    hi Normal guibg=#222222 ctermbg=black                     
    let t:is_transparent = 1
  else
    hi Normal guibg=NONE ctermbg=NONE                    
    let t:is_transparent = 0                        
  endif                    
endfunction               
nnoremap <C-x><C-t> :call Toggle_transparent_background()<CR>

