mpd_music_dir = "~/Music/mp3"
mpd_host = "localhost"
mpd_port = "6600"


visualizer_data_source = "/tmp/mpd.fifo"
visualizer_output_name = "my_fifo"
visualizer_in_stereo = "yes"
visualizer_type = "spectrum"
visualizer_look = "+|"

visualizer_color = 47, 83, 119, 155, 191, 227, 221, 215, 209, 203, 197, 161
